
    {% include "page_start.html" %}


        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <div class="about-heading-content">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-10 mx-auto">
                                        <div class="bg-faded rounded p-5">
                                            <h2 class="section-heading mb-4">
                                                <span class="section-heading-upper">You Are Registered In The System</span>
                                                <span class="section-heading-lower">Success!</span>
                                            </h2>
                                            <p>We will continuously check for the best flight prices and if we find anything below your highest price we will inform you by email!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="mb-0">
                                <small><em>Call Anytime</em></small>
                                <br />
                                (312) 507-81659
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% include "page_end.html" %}